<div class="container">
    @using MongoDB.Driver
    @using QuantU.Models
    @{

    }
    <div class="accordion">
        <div class="accordion-item">
            <h2 class="accordion-header text-center" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                User Info
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample" style="">
                <div class="accordion-body">
                    <ul>
                        <li>
                            Username: @ViewBag.user.username
                            <span>
                                <button type="button" class="btn btn-primary newstock col" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                    </svg>
                                </button>
                            </span>
                        </li>
                        <li>
                            Email: @ViewBag.user.email
                            <span>
                                <button type="button" class="btn btn-primary newstock col" data-bs-toggle="modal" data-bs-target="#changeEmail">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                    </svg>
                                </button>
                            </span>
                                <div class="modal fade" id="changeEmail" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Create New Portfolio</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            @* 
                                                Form that links to PaperTrading [HttpPost method in HomeController.cs] 
                                                the form makes a portfolio object using the name given by the user that is passed to the method
                                            *@
                                            <form asp-action="changeEmail">
                                            <div class="modal-body">
                                                <div class="mb-3">
                                                    <label for="newEmail" class="form-label">New Email</label>
                                                    <input name="newEmail" type="text" class="form-control" >
                                                    <span class="text-danger" for="newEmail"></span>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="password" class="form-label">Password</label>
                                                    <input name="password" type="text" class="form-control" >
                                                    <span class="text-danger" for="password"></span>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                @* submits the form *@
                                                <button type="submit" class="btn btn-primary">Change Email</button>
                                            </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                        </li>
                        <li>Password: @ViewBag.user.password</li>
                        <li>Recovery Question @ViewBag.user.recoveryQ</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion">
        <div class="accordion-item">
            <h2 class="accordion-header text-center" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    User Finances
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample" style="">
                <div class="accordion-body">
                    <ul>
                        <li>@ViewBag.uf.netSalary</li>
                        <li>@ViewBag.uf.maritalStatus</li>
                        <li>@ViewBag.uf.interests</li>
                        <li>@ViewBag.uf.age</li> 
                        <li>@ViewBag.uf.numberOfChildren</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>